<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Video Example - xapi-jqm</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script src="http://cdn.popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    <script src="js/xapiwrapper.min.js"></script>
    <script src="js/xapipopcorn.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/functions.js"></script>
</head> 

<body data-chapter="home"> 

<div data-role="page" id="briefing">

    <div data-role="header">
        <h1>Video Example - xapi-jqm</h1>
        <a href="chapters/00-account.html#logout" data-ajax="false" data-theme="b" data-transition="slidedown" data-icon="delete" class="ui-btn-right">Exit</a>
    </div><!-- /header -->

    <div data-role="content">
       <div class="infoblock">
            <h2>See How It's Done</h2>
        </div>

        <div id="How-to-make-french-toast-xapi-jqm-video" style="width:640px;height:360px;margin:0;"></div>
        <p>Video shows a variation of the steps taught in the last section.</p>

    </div><!-- /content -->

</div><!-- /page home -->

<!-- need to keep this guy at the bottom -->
<script src="js/video-functions.js"></script>

</body>
</html>
