<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Summary - Table of Contents Example - xapi-jqm</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script src="../js/xapiwrapper.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/functions.js"></script>
</head> 

<body data-chapter="03-summary"> 

<div data-role="page" id="p1">

    <div data-role="header">
        <a href="../index.html#toc" name="home" data-role="button" data-theme="b" data-icon="home" data-transition="slide" data-ajax="false" class="ui-btn-left">Home</a>
        <h1>Summary</h1>
    </div><!-- /header -->

    <div data-role="content">

        <h3>About</h3>
        
        <p>To set this up you'll need (at minimum):</p>
        <ul>
            <li><i>class="chapter"</i> in your list items in your Table of Contents</li>
            <li>A bit of magic in the functions file, 1) that handles the vclick event and 2) that communicates your chapter completion to the State API.</li>
        </ul>

    </div><!-- /content -->
    
    <div data-role="footer" data-theme="b" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="../index.html#toc" data-theme="b" data-rel="back" data-icon="carat-l" data-iconpos="top" data-transition="slide" data-direction="reverse" data-ajax="false">Previous</a></li>
                <li><a href="#p2" id="next" data-theme="b" data-icon="carat-r" data-iconpos="top" data-transition="slide" data-ajax="false">Next</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->

</div><!-- /page p1 -->


<div data-role="page" id="p2">
    
    <div data-role="header">
         <a href="../index.html#toc" name="home" data-role="button" data-theme="b" data-icon="home" data-transition="slide" data-ajax="false" class="ui-btn-left">Home</a>
        <h1>Summary</h1>
    </div><!-- /header -->

    <div data-role="content">    
        <div class="infoblock">
            <h2>Read the documentation to learn more</h2>
        </div>
        
        <p>This is a minimal example to get your started but there is a lot more details regarding the magic behind this on github.</p>


    </div><!-- /content -->
    
    <div data-role="footer" data-theme="b" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#p1" data-theme="b" data-rel="back" data-icon="carat-l" data-iconpos="top" data-transition="slide" data-direction="reverse" data-ajax="false">Previous</a></li>
                <li><a href="../index.html#toc" id="next" data-theme="b" data-icon="carat-r" data-iconpos="top" data-transition="slide" data-ajax="false" onclick="setChapterComplete()">Next</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->

</div><!-- /page p2 -->

</body>
</html>
