<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Minimal Greenish Example - xapi-jqm</title> 
    <link rel="stylesheet" href="css/themes/greenish.min.css" />
    <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" /> 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script src="js/xapiwrapper.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/functions.js"></script>
</head> 

<body data-chapter="home"> 

<div data-role="page" id="briefing">

    <div data-role="header">
        <h1>Minimal Example - xapi-jqm</h1>
        <a href="chapters/00-account.html#logout" data-ajax="false" data-theme="b" data-transition="slidedown" data-icon="delete" class="ui-btn-right">Exit</a>
    </div><!-- /header -->

    <div data-role="content">

        <p>This is a minimal example with registration integration and shows how to use modal windows if you click the buttons in the footer or even <a href="#modal">this link</a>.</p>

    </div><!-- /content -->
    
    <div data-role="footer" data-theme="b" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#resources" data-icon="star" data-iconpos="top" data-rel="dialog" data-transition="slideup" data-ajax="false">Resources</a></li>
                <li><a href="#help" data-icon="alert" data-iconpos="top" data-transition="slideup" data-ajax="false">Help</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->

</div><!-- /page toc -->


<!-- #resources -->
<div data-role="page" id="resources">

    <div data-role="header" data-theme="b">
        <h1>Resources</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <h2>Resources</h2>
        <ul>
            <li><a href="http://www.github.com/adlnet/xapi-jqm" target="_blank">xapi-jqm github page</a></li>
            <li><a href="http://www.jquerymobile.com" target="_blank">jQuery Mobile page</a></li>
            <li><a href="https://github.com/adlnet/xAPIWrapper" target="_blank">xAPI Wrapper page</a></li>
        </ul>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <div style="text-align:center;"><a href="#toc" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Go Back</a></div>
    </div><!-- /footer -->

</div><!-- /page resources -->


<!-- #help -->
<div data-role="page" id="help">

    <div data-role="header" data-theme="b">
        <h1>Help</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <h2>Github</h2>
        <p><a href="http://adlnet.github.com/adlnet">ADL's Github page</a> is a great place for our work, this project specifically has more demos and documentation if you're looking for more information.</p>
        <h2>Email</h2>
        <p>Feel free to email <a href="mailto:tyler.mulligan.ctr@adlnet.gov">Tyler Mulligan</a> with questions.</p>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <div style="text-align:center;"><a href="index.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Go Back</a></div>
    </div><!-- /footer -->

</div><!-- /page help -->

<!-- #modal -->
<div data-role="page" id="modal">

    <div data-role="header" data-theme="b">
        <h1>Modal Example</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <h2>Hello</h2>
        <p>I'm a modal window!</p>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <div style="text-align:center;"><a href="index.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Go Back</a></div>
    </div><!-- /footer -->

</div><!-- /page help -->

</body>
</html>
